.well_char_detail {
  border: {
    top: {
      color: #ea51a3;
    }
    left: {
      width: 0;
    }
    right: {
      width: 0;
    }
    bottom: {
      color: #ea51a3;
    }
  }
  background-color: transparent;
  box-shadow: none;
  border-radius: initial;
}
